* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}


.content {
	max-width: 100%;
	background-color: #f8f8ff;
	color: black;
	font-family: Source Code Pro ExtraLight bold;
	padding: 15px 20px;+`	`
}


.navcontainer { 
			display: flex;
			background-color: #333;
			width: 100%;
			justify-content: space-between;
			align-content: center;
			align-items: center;
}


.navcontainer a {
			color: white;
			font-size: 1em;
			text-decoration: none;
			padding: 15px; 
}


.navcontainer .icon {
			display: none;
}

@media screen and (max-width: 600px) {
		.navcontainer a:not(:first-child) { 
			 display: none;
			}
			
			
			
			.navcontainer a.icon {
				display: block;
			}
}




@media screen and (max-width: 600px) {
	.navcontainer.responsive { 
		display: flex;
		flex-flow: column nowrap;
	}
	
	.navcontainer.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
}


	.navcontainer.responsive a { 
	display: block;
	}
}


.navcontainer a:hover {
	background-color: grey;
	color: black;
}
	


				   
		
						
						
				
		 
				
				
.container {
	max-width: 600px;
	position: relative;
	margin: auto;
	align-items:center;
	justify-content: flex-start ;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
	color: white;
}
